p {
  font-family: Lato;
}
.searchcontainer
{
  background-image: linear-gradient(white,blue);
  position:relative;
  height:200px;
}
.searchcontainer .inner{
  width:70%;
  left:10%;
  position: absolute;
  top:100px;
}

